<!-- ***************************
 *  The Content Heading
 * ************************** -->
 <% if (title) { %>
    <!-- If a title is provided, display an h1 heading with the title -->
    <h1><%= title %></h1>
    <% } else { // If no title is provided, redirect to the home page
    res.redirect('/'); } %>
    
    <!-- ***************************
        *  A Message Block
        * ************************** -->
<%- messages() %>
        <h2 class="account management"> Welcome <%= locals.account_firstname %>!</h2>
    <!-- ***************************
    *  Links
    * ************************** -->
    <div class="managementView">
      <a href="#">Edit Account Information</a>
    </div>