<!-- ***************************
 *  The Content Heading
 * ************************** -->
 <% if (title) { %>
  <!-- If a title is provided, display an h1 heading with the title -->
  <h1 class="classificationTitle"><%= title %></h1>
<% } else { // If no title is provided, redirect to the home page %>
  <% res.redirect('/'); %>
<% } %>

<!-- ***************************
*  A Message Block
* ************************** -->
<% messages() %>

<!-- ***************************
*  Error Message Block
* ************************** -->
<% if (errors) { %>
  <ul class="notice">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
  </ul>
<% } %>

<!-- Login Form -->
<div class="login-wrapper">
    <form class="login-form" action="/account/login" method="post">
      <label class="login-label" for="account_email">Email:</label>
      <input
        class="login-input"
        type="email"
        id="account_email"
        name="account_email"
        required value="<%= locals.account_email %>"
      />

      <label class="login-label" for="account_password">Password:</label>
      <input
        class="login-input"
        type="password"
        id="account_password"
        name="account_password"
        required
      />

      <button class="loginbtn" type="submit">Login</button>
    </form>
  </div>

<!-- Link for Registration -->
<p class="login-p">
  Don't have an account?
  <a class="login-a" href="/account/register">Register here</a>
</p>
