<!-- The Content Heading -->
<h1><%= title %></h1>

<!-- A Message Block for Flash message -->
<%- messages() %>

<!-- Login Form -->
<div class="login-wrapper1">
  <div class="login-wrapper2">
<form class="login-form" action="/login" method="post">
  <!-- Add your form fields here, for example: -->
  <label class="login-label" for="email">Email:</label>
  <input class="login-input" type="email" id="email" name="email" required>

  <label class="login-label" for="password">Password:</label>
  <input class="login-input" type="password" id="password" name="password" required>

  <button class="loginbtn" type="submit">Login</button>
</form>
</div>
</div>
<!-- Link for Registration -->
<p class="login-p">Don't have an account? <a class="login-a" href="/account/register">Register here</a></p>
