<!-- The Content Heading -->
<h1><%= title %></h1>

<!-- A Message Block for Flash message -->
<%- messages() %>

<!-- Registration Form -->
<div class="registration-wrapper1">
  <div class="registration-wrapper2">
    <form class="registration-form" action="/register" method="post">
      <!-- Add your form fields here: -->
      <label class="registration-label" for="firstName">First Name:</label>
      <input class="registration-input" type="text" id="firstName" name="firstName" required>

      <label class="registration-label" for="lastName">Last Name:</label>
      <input class="registration-input" type="text" id="lastName" name="lastName" required>

      <label class="registration-label" for="email">Email:</label>
      <input class="registration-input" type="email" id="email" name="email" required>

      <label class="registration-label" for="password">Password:</label>
      <input class="registration-input" type="password" id="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{12,}" title="Password must be 12 characters or longer and contain at least one digit, one uppercase letter, one lowercase letter, and one special character">

      <!-- Optional button to toggle password visibility -->
      <button type="button" id="togglePassword">Toggle Password</button>

      <button class="registrationbtn" type="submit">Register</button>
    </form>
  </div>
</div>

<!-- Link for Login -->
<p class="registration-p">Already have an account? <a class="registration-a" href="/login">Login here</a></p>

<!-- Password toggle functionality -->
<script>
  const togglePasswordButton = document.getElementById('togglePassword');
  const passwordInput = document.getElementById('password');

  togglePasswordButton.addEventListener('click', () => {
    passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
  });
</script>
