<!-- The Content Heading -->
<h1><%= title %></h1>

<!-- A Message Block for Flash message -->
<%- messages() %>

<!-- Registration Form -->
<div class="registration-wrapper">
    <form class="registration-form" action="/account/register" method="post">
      <!-- Add your form fields here: -->
      <label class="registration-label" for="account_firstname">First Name:</label>
      <input
        class="registration-input"
        type="text"
        id="account_firstname"
        name="account_firstname"
        required
      />

      <label class="registration-label" for="account_lastname">Last Name:</label>
      <input
        class="registration-input"
        type="text"
        id="account_lastname"
        name="account_lastname"
        required
      />

      <label class="registration-label" for="account_email">Email:</label>
      <input
        class="registration-input"
        type="email"
        id="account_email"
        name="account_email"
        required
      />

      <label class="registration-label" for="account_password">Password:</label>
      <input
        class="registration-input"
        type="password"
        id="account_password"
        name="account_password"
        required
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{12,}"
        title="Password must be 12 characters or longer and contain at least one digit, one uppercase letter, one lowercase letter, and one special character"
      />

      <!-- Password requirements message -->
      <p id="passwordRequirements" class="password-requirements">
        Password must be at least 12 characters and include 1 uppercase letter,
        1 number, and 1 special character.
      </p>

      <!-- Toggle password button -->
      <button type="button" id="togglePassword">Show Password</button>

      <button class="registrationbtn" type="submit">Register</button>
    </form>
  </div>


<!-- Link for Login -->
<p class="registration-p">
  Already have an account?
  <a class="registration-a" href="/account/login">Login here</a>
</p>

<!-- Password toggle functionality -->
<script>
  const togglePasswordButton = document.getElementById("togglePassword");
  const passwordInput = document.getElementById("account_password");

  togglePasswordButton.addEventListener("click", () => {
    // Toggle password visibility
    passwordInput.type =
      passwordInput.type === "password" ? "text" : "password";

    // Change button label based on the current state
    togglePasswordButton.textContent =
      passwordInput.type === "password" ? "Show Password" : "Hide Password";
  });
</script>
