<!-- ***************************
 *  The Content Heading
 * ************************** -->
 <% if (title) { %>
    <!-- If a title is provided, display an h1 heading with the title -->
    <h1 class="classificationTitle"><%= title %></h1>
    <% } else { // If no title is provided, redirect to the home page
    res.redirect('/'); } %>
    
    <!-- ***************************
     *  A Message Block
     * ************************** -->
    <% messages() %>

    <!-- ***************************
     *  Error Message Block To Be Added RIGHT NOW PAGE WONT WORK WITH IT
     * ************************** -->
     <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

<p>Field is required</p>
<!-- DO NOT CHANGE THE ACTION IT IS FINALLY WORKING -->
<form action="/inv/addClassification" method="post"> 
    <label for="classification_name">Classification Name</label>
    <p>NAME MUST BE ALPHABETIC CHARACTERS ONLY.</p>
    <input 
    type="text" 
    name="classification_name" 
    id="classification_name" 
    pattern="[a-zA-Z]+" 
    title="Please enter only alphabetic characters."
    placeholder="Must be alaphbetic characters only"
    required>
    <br>
    <button class="classifcationbtn" type="submit">Add New Classification</button>
</form>