<!-- ***************************
 *  The Content Heading
 * ************************** -->
 <% if (title) { %>
    <!-- If a title is provided, display an h1 heading with the title -->
    <h1 class="classificationTitle"><%= title %></h1>
<% } else { // If no title is provided, redirect to the home page %>
    <% res.redirect('/'); %>
<% } %>

<!-- ***************************
 *  A Message Block
 * ************************** -->
<% messages() %>

<!-- ***************************
 *  Error Message Block
 * ************************** -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
<div class="classificationFormWrapper">
<p>FIELD IS REQUIRED</p>
<!-- Form for Adding New Classification -->
<form action="/inv/addClassification" method="post" class="classification-form">
    <label for="classification_name">Classification Name</label>
    <p>NAME MUST BE ALPHABETIC CHARACTERS ONLY.</p>
    <input 
        class="classification-input"
        type="text" 
        name="classification_name" 
        id="classification_name" 
        pattern="[a-zA-Z]+" 
        title="Please enter only alphabetic characters."
        placeholder="Must be alphabetic characters only"
        required
    >
    <button class="classification-btn" type="submit">Add New Classification</button>
</form>
</div>
