<!-- ***************************
 *  The Content Heading
 * ************************** -->
<% if (title) { %>
<!-- If a title is provided, display an h1 heading with the title -->
<h1 class="classificationTitle"><%= title %></h1>
<% } else { // If no title is provided, redirect to the home page
res.redirect('/'); } %>

<!-- ***************************
 *  A Message Block
 * ************************** -->
<% messages() %>
<form class= "sortBy" action="/inv/type/<%=classification_id%>">
<label for="">
Sort By:
</label>
<select class= "sortBy-select" name="sort">
<option class= "sortBy-option" value="name">Model</option>
<option class= "sortBy-option" value="price">Price</option>
</select>
<input class= "sortBy-btn"type="submit" value="Sort"/>
</form>
<!-- ***************************
 *  Inventory Item Display
 * ************************** -->
<%- grid %>
