<!-- ***************************
 *  The Content Heading
 * ************************** -->
<% if (title) { %>
<!-- If a title is provided, display an h1 heading with the title -->
<h1><%= title %></h1>
<% } else { // If no title is provided, redirect to the home page
res.redirect('/'); } %>

<!-- ***************************
    *  A Message Block
    * ************************** -->
<%- messages() %>
    
<!-- ***************************
*  Links
* ************************** -->

<div class="managementView">
  <ul>
    <li><a href="/inv/addClassification">Add New Classification</a></li>
    <li><a href="/inv/newInventory">Add New Inventory</a></li>
  </ul>
</div>
<div class="managementTableWrapper">
<h2>Manage Inventory</h2>
<p>Please select a classification</p>
<!--Classification DropDown Menu-->
<select 
class="manageInventory" 
id="classification_id" 
name="classification_id" 
required>
  <%- classificationSelect %>
</select>

<table class="inventoryTable" id="inventoryDisplay"></table>
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>